body {background-color: black;}

.subject {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    border-style:solid;
    border-color: chartreuse;
    display:block;
    color: hotpink;
    font-size: 18px;
    width: auto;
    text-align: center;
}

.lists {
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: hotpink;
    font-size: 18px;
    width: auto;
    border-style:solid;
    border-color: chartreuse;
}

img {
    border-radius: 25px;
    border-width: 20px;
    border-style: solid;
    border-color: violet;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: hotpink;
    width:auto;
    border-style:solid;
    border-color: chartreuse;
}
h3 {
    text-decoration: underline;
}
.links {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: hotpink;
    width:150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-style:solid;
    border-color: chartreuse;
}

.home {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: hotpink;
    width:67px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-style:solid;
    border-color: chartreuse;
}